<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lesson03.ReviewMapper">
	<select id="selectReview"
	parameterType="int"
 resultType="com.example.lesson03.Review">
	SELECT
	`id`
	,`storeId`
	,`menu`
	,`userName`
	,`point`
	,`review`
	,`createdAt`
	,`updatedAt`
FROM
	`new_review`
WHERE
	`id` = #{id}
	</select>
	
	<insert id="insertReview" parameterType="map">
		INSERT INTO `new_review`
		(
			<!-- id 빼고 -->
			`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`	
		)
		VALUES
		(
		<!-- 동적 쿼리 -->
		#{storeId}
		,#{menu}
		,#{userName}
		,#{point}
		,#{review}
		, NOW()
		, NOW() <!--  파라미터가 없는 now 함수 -->
		)
		
		
	</insert>
	
	<insert id="insertReviewAsField" parameterType="map">
			INSERT INTO `new_review`
		(
			<!-- id 빼고 -->
			`storeId`
			,`menu`
			,`userName`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`	
		)
		VALUES
		(
		<!-- 동적 쿼리 -->
		#{storeId}
		,#{menu}
		,#{userName}
		,#{point}
		,#{review}
		, NOW()
		, NOW() <!--  파라미터가 없는 now 함수 -->
		)
	
	</insert>
	<update id="updatedReviewById" parameterType="map">
		UPDATE `new_review`
		SET
			`review`= #{review}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{id}
	
	</update>
	
	<delete id="deleteReviewById" parameterType="int">
		DELETE FROM `new_review`
		WHERE `id`= #{id}
	</delete>
</mapper>